@{
    ViewData["Title"] = "Home Page";
}

<style>
    #MediatRLink {
        font-size: 2.5em
    }
</style>



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a id="MediatRLink" href="@Url.Action("Index", "ProductsMediatR")">Enter the MediatR</a>
    </p>
</div>
